---
layout: default
title: BLOG // Savit Consultancy
---
	<div class="blog-page main grid-wrap">

		<header class="grid col-full">
			<hr>
			<p class="fleft">Blog</p>
		</header>
		
				
		<section class="grid col-three-quarters mq2-col-two-thirds mq3-col-full">
    {% for post in site.posts %}
			<article class="post">
				<h2><a href="{{post.url}}" class="post-title">{{ post.title }}</a></h2>
				<div class="meta">
					<p>Posted on <span class="time">{{ post.date | date: "%d %B %Y" }}</span> by <a href="#" class="fn">{{site.author}}</a></p>
				</div>
				<div class="entry">
					<p>{{post.content}}<p>
				</div>
				<footer>
					<a href="{{post.url}}" class="more-link">Continue reading…</a>
				</footer>
			</article>			
      {% endfor %}
				

      <!--	
			<ul class="page-numbers">
				<li><a href="#">Prev</a></li>
				<li><a href="#" class="current">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">Next</a></li>
			</ul>
      -->
		
		</section>
    {% include sidebar.html %}

		
	</div> <!--main-->
